
html,body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;
}



/***************** navigation styles ******************/

nav.sb-slidebar {
	background-color: #d7d7d7;
	margin-top: 115px;
	height: 100%;
}


		@media (max-width: 480px) { /* extra small screens */
			
			nav.sb-slidebar {
				margin-top: 75px;
			}
		}

		@media (min-width: 481px) { /* small screens */
			
			nav.sb-slidebar {
				margin-top: 95px;
			}
		}

		@media (min-width: 768px) { /* small screens */
			
			nav.sb-slidebar {
				margin-top: 115px;
			}
		}

		@media (min-width: 992px) { /* medium screens */
			
			nav.sb-slidebar {
				margin-top: 115px;
			}
		}

		@media (min-width: 1200px) { /* large screens */
			
			nav.sb-slidebar {
				margin-top: 115px;
			}

		}


li {
	list-style-type: none;
	display: block;
}

ul.nav-ul {
	padding-bottom: 130px;
}

a.nav {
	display: block;
	text-decoration: none;
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;	
	color: white;

	width: auto;
	padding-right: ;
	padding-left: 30px;
	padding-top: 27px;
	padding-bottom: 27px;
	margin: 0px;

	border: 1px solid rgba(255, 255, 255, 0.25);

		 -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
      -ms-transition: all .2s extrase;
          transition: all .2s ease;
}

a.nav:hover {
	background-color: #FFCC00;
	color: #333333;

		 -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
          transition: all .2s ease;
}


.nav-descriptors {
	display: inline-block;
	font-weight: normal;
	font-size: .7em;
	color: #333333;
	opacity: .7;
	margin-top: 8px;
	line-height: 20px;
	padding-right: 30px;
}


		@media only screen and (max-width: 767px) {
		    
		    .nav-descriptors {
		    	display: none;
		    }

		    a {
		    	font-size: 18px;
		    	padding-top: 16px;
				padding-bottom: 16px;
				padding-left: 20px;
		    }
			
		}

/***************** form container styles ******************/

div.sb-slidebar {
	background-color: white ;
	
	margin-top: 115px;
	height: 100%;
	border: 1px solid rgba(100, 100, 100, 0.1);
	background-image: url('images/handmadepaper.png');
		background-repeat: repeat;
		background-position: fixed;
		background-position: center;

}

		@media (max-width: 480px) { /* extra small screens */
			
			div.sb-slidebar {
				margin-top: 75px;
			}
		}

		@media (min-width: 481px) { /* small screens */
			
			div.sb-slidebar {
				margin-top: 95px;
			}
		}

		@media (min-width: 768px) { /* small screens */
			
			div.sb-slidebar {
				margin-top: 115px;
			}
		}

		@media (min-width: 992px) { /* medium screens */
			
			div.sb-slidebar {
				margin-top: 115px;
			}
		}

		@media (min-width: 1200px) { /* large screens */
			
			div.sb-slidebar {
				margin-top: 115px;
			}

		}

.form-icon {
	display: inline;
	float: right;
	margin-right: 57px;
	margin-top: 40px;
	width: 40px;
	opacity: .8;

			 -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
          transition: all .2s ease;

}

.form-icon:hover {
	cursor: pointer;
	opacity: .3;


			 -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
      -ms-transition: all .2s ease;
          transition: all .2s ease;

}


/***************** header styles ******************/

header {
	position: fixed;
	height: 115px;
	width: 100%;
	background-color: white;
	z-index: 20;
	box-shadow: 0px 1px 0px 0px rgba(0, 0, 0, 0.1);
}

#logo {
	display: inline;
	margin-left: 87px;
	margin-top: 8px;
	width: 93px;
}


		@media (max-width: 480px) { /* extra small screens */
			
			header {
				height: 75px;
			}
			#logo {
			margin-left: 8%;
			margin-top: 7px;
			width: 60px;
			}
		}

		@media (min-width: 481px) { /* small screens */
			
			header {
				height: 95px;
			}
			#logo {
			margin-left: 10%;
			margin-top: 8px;
			width: 77px;
			}
		}

		@media (min-width: 768px) { /* small screens */
			
			header {
				height: 115px;
			}
			#logo {
			margin-left: 10%;
			margin-top: 8px;
			width: 93px;
			}
		}

		@media (min-width: 992px) { /* medium screens */
			
			header {
				height: 115px;
			}
			#logo {
			margin-left: 10%;
			margin-top: 8px;
			width: 93px;
			}
		}

		@media (min-width: 1200px) { /*large screens */
			
			header {
				height: 115px;
			}
			#logo {
			margin-left: 10%;
			margin-top: 8px;
			width: 93px;
			}
		}



#icon-container {
	position: fixed;
	padding: 0px;
	width: 400px;
	height: 90px;
	top: 10px;
	right: 36px;
}

a.sub-contain {
	position: relative;
	display: inline;
	float: left;
	height: 0px;
	width: 100px;
	margin-top: 18px;

	text-decoration: none;
	padding-left: 30px;
	padding-top: 28px;
	padding-bottom: 27px;
}

.sub-contain:hover {
	background-color: white;
}

p#menu {
	right: 41px;
}

p#contact {
	right: 44px;
}

p#forms {
	right: 42px;
}

.top-icons {
	position: fixed;
	width: 40px;
	top: 24px;
	padding: 10px;
	padding-left: 50px;
	margin-right: 20px;
	opacity: .4;

	 -webkit-transition: all .2s ease;
     -moz-transition: all .2s ease;
       -o-transition: all .2s ease;
      -ms-transition: all .2s extrase;
          transition: all .2s ease;
}


		@media (max-width: 480px) { /* extra small screens */
		
			#icon-container {
				position: fixed;
				padding: 0px;
				width: 400px;
				height: 90px;
				top: 10px;
				right: -200px;
				overflow: hidden;
			}

			a.sub-contain {
				position: relative;
				display: inline;
				float: left;
				margin-top: 0px;
				height: 0px;
				width: 30px;
			}

			.top-icons {
				width: 31px;
				top: 12px;
				padding-left: 0px;
				margin-right: 0px;
			}
			
		}

		@media (min-width: 481px) { /* small screens */
			
			#icon-container {
				position: fixed;
				padding: 0px;
				width: 400px;
				height: 90px;
				top: 13px;
				right: -140px;
				overflow: hidden;
			}

			a.sub-contain {
				position: relative;
				display: inline;
				float: left;
				margin-top: 10px;
				height: 0px;
				width: 50px;
			}

			.top-icons {
				width: 36px;
				top: 18px;
				padding-left: 0px;
				margin-right: 0px;
			}	

		}

		@media (min-width: 768px) { /* small screens */

			#icon-container {
				position: fixed;
				padding: 0px;
				width: 400px;
				height: 90px;
				top: 10px;
				right: 36px;
				overflow: hidden;
			}

			a.sub-contain {
				position: relative;
				display: inline;
				float: left;
				margin-top: 18px;
				height: 0px;
				width: 100px;
			}

			.top-icons {
				position: fixed;
				width: 40px;
				top: 26px;
				margin-right: 20px;
				padding: 10px;
				padding-left: 50px;
				opacity: .4;
			}

		}

		@media (min-width: 992px) { /* medium screens */
			
			.top-icons {
				width: 40px;
			}

			/* full icon styles inherit from smaller screens */
		}

		@media (min-width: 1200px) { /* large screens */
			
			.top-icons {
				width: 40px;
			}

			/* full icon styles inherit from smaller screens */
		}



.top-icons:hover {
	opacity: .9;
	cursor: pointer;
}

p.icon-text {
	position: relative;
	display: inline;
	right: 47px;
	top: -14px;
	font-size: .7em;
	opacity: .4;
}


	@media (max-width: 767px) { 
			p.icon-text {
			display: none;
		}
	}








/***************** full content wrap styles *******************/

#sb-site{
	-webkit-box-shadow: -4px -1px 6px -4px rgba(0,0,0,0.3);
	-moz-box-shadow: -4px -1px 6px -4px rgba(0,0,0,0.3);
	box-shadow: -4px -1px 6px -4px rgba(0,0,0,0.3);
}

.page-wrap {
	position: relative;
	background-color: #FFCC00;
	margin-top: 120px;

}

.page-wrap.contact-page {
	padding-bottom: 120px;

	-webkit-animation: slidedown .5s ease 0 normal backwards;
	  -moz-animation: slidedown .5s ease 0 normal backwards;
	  -o-animation: slidedown .5s ease 0 normal backwards;
	  animation: slidedown .5s ease 0 normal backwards;
	  -webkit-animation-delay: 0s;
}

@media (max-width: 480px) { /* extra small screens. */
	.page-wrap {
	margin-top: 75px;
	}
}

@media (min-width: 481px) { /* small screens. */
	.page-wrap {
	margin-top: 95px;
	}
}


@media (min-width: 768px) { /* small screens. */
	.page-wrap {
	margin-top: 115px;
	}
}


@media (min-width: 992px) { /* medium screens. */
	.page-wrap {
	margin-top: 115px;
	}
}


@media (min-width: 1200px) { /* large screens. */
	.page-wrap {
	margin-top: 115px;
	}
}




/******************** content styles **********************/

p {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 1em;
	font-weight: normal;
	line-height: 25px;
	color: #3f3f3f;
	padding: 50px;
}


h1 {
	font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
	font-size: 2em;
	font-weight: bold;
	color: #3f3f3f;
	padding: 50px;
	line-height: 1.3em;
}


.bannerimage {
	position: relative;
	width: 100%;
}



/******************** footer styles **********************/


footer {
	position: relative;
	display: block;
	width: 100%;
	height: 300px;
	bottom: 0px;
	background-color: white;
}






/******************** animation keyframes ****************/


/*

-webkit-animation: slideright 1s ease 0 normal backwards;
	  -moz-animation: slideright 1s ease 0 normal backwards;
	  -o-animation: slideright 1s ease 0 normal backwards;
	  animation: slideright 1s ease 0 normal backwards;
	  -webkit-animation-delay: 0s;

*/


@-webkit-keyframes slidedown {
	0% {
		-webkit-transform:translateY(-100%);
		opacity:1;
	}
	100% {-webkit-transform:translateX(0px);}
}

@-moz-keyframes slidedown {
	0% {
		-moz-transform:translateY(-100%);
		opacity:1;
	}
	100% {-moz-transform:translateX(0px);}
}
@-o-keyframes slidedown {
	0% {
		-o-transform:translateY(-100%);
		opacity:1;
	}
	100% {-o-transform:translateX(0px);}
}
@-keyframes slidedown {
	0% {
		transform:translateY(-100%);
		opacity:1;
	}
	100% {transform:translateX(0px);}

}





/************* Design Kit ****************

YELLOW backgrounds: #FFCC00

YELLOW logo accent: #FFD400

*/
